
@font-face {
  font-family: 'LabGrotesque-Light';
  src: local('LabGrotesque-Light'),
       url(./fonts/LabGrotesque-Light.woff2) format('woff2'),
       url(./fonts/LabGrotesque-Light.woff) format('woff');
}

@font-face {
  font-family: '375E5F_0_0';
  src: url(./fonts/375E5F_0_0.eot);
  src: local('375E5F_0_0'),
       url(./fonts/375E5F_0_0.woff2) format('woff2'),
       url(./fonts/375E5F_0_0.woff) format('woff'),
       url(./fonts/375E5F_0_0.ttf) format('truetype');

}

@font-face {
  font-family: '375E5F_1_0';
  src: url(./fonts/375E5F_1_0.eot);
  src: local('375E5F_0_0'),
       url(./fonts/375E5F_1_0.woff2) format('woff2'),
       url(./fonts/375E5F_1_0.woff) format('woff'),
       url(./fonts/375E5F_1_0.ttf) format('truetype');

}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #737882;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #737882;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #737882;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #737882;
  }

  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #737882;
    letter-spacing: .2px;
    font-size: 17px;
  }

.test {
    background: #000;
}

.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 64px 0 48px;

    &__title {
        margin: 0;
        text-transform: uppercase;
        font-family: '375E5F_0_0', sans-serif;
    }
    .mobile-section {
      position: relative;

      &.visible {
        &:before {
          content: '';
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: transparent;
        }
      }
    }
    
    .mobile-menu {
      width: 27px;
      height: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 13px;
      transition: all .3s;
      opacity: .3;
      cursor: pointer;
      position: relative;
    
      &:hover {
        opacity: 1;
      }
    
      &__item {
          height: 1px;
          background: #000;
          position: relative;
          transition: all .3s ease-out;
      }

      &.active {
        opacity: 1;


        .mobile-menu__item {
          &:first-of-type {
            transform: rotate(45deg);
            top: 5px;
          }
          &:nth-of-type(2) {
            display: none;
          }
          &:nth-of-type(3) {
            transform: rotate(-45deg);
            top: -10px;
          }
        }
      }
    
    }
    .mobile-list {
      position: absolute;
      transition: all .3s;
      top: 25px;
      left: -243px;
      width: 240px;
      border: 1px solid #000;
      text-align: left;
      font-size: 18px;
      padding: 10px 0;
      display: none;
      background: #fff;

      @media(min-width: 320px) and (max-width: 420px) {
        left: -180px;
      }
      &.visible {
        display: block;
        z-index: 9999;
      }
      &__item {
        padding: 8px 16px;
        font-size: 18px;
        font-family: 'LabGrotesque', sans-serif;
        opacity: .5;
        transition: all .3s;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
}



.form { 

    &-wrap {
      width: 366px;
      @media(min-width: 320px) and (max-width: 420px) {
        width: 80%;
      }
    }

    &__title {
      font-size: 28px;
      margin: 0 0 16px;
    }

    &-react-select {
      width: 100%;
    }

    &-field {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__error {
      margin-top: 8px;
      font-size: 12px;
      color: red;
      padding-left: 10px;
    }

    &-contacts {
        margin-top: 36px;

        & .form-field {
            margin-top: 10px;
        }
    }

    &-textarea {
      margin-top: 36px;
    }

    &__select {
      width: 100%;
      height: 42px;
      border-radius: 20px;
      border: 1px solid #d9dbde;
      outline: none;
      padding-left: 14px;
      box-sizing: border-box;
    }

    &__input {
      width: 100%;
      height: 42px;
      border-radius: 20px;
      border: 1px solid #d9dbde;
      outline: none;
      padding-left: 14px;
      box-sizing: border-box;
      color: #737882;
      font-size: 17px;
      font-family: 'LabGrotesque-Light', sans-serif;

      &:focus {
        border-color: #737882;
        color: #161e2e;
        &::placeholder {
          color: #161e2e;
        }
      }

      &:filled {
        color: #161e2e;
      }

      &:valid {
        color: #161e2e;
      }
    }

    &__textarea {
        padding-top: 9px;
        height: 84px;
        resize: none;
        font-size: 17px;
        font-family: 'LabGrotesque-Light', sans-serif;
      }

    &-link {
      margin-top: 33px;
    }

    &-upload {
      margin: 33px auto 0;
      text-decoration: underline;
      color: #737882;
      font-size: 18px;
      display: block;
      border: none;
      background: transparent;
      cursor: pointer;
      outline: none;
    }
    .file-name {
      margin-top: 8px;
    }

    .file__input {
      display: none;
    }


    &__submit {
        margin-top: 31px;
        width: 100%;
        height: 42px;
        box-shadow: 0 5px 10px 0 rgba(22, 30, 46, 0.2);
        background-color: #ffffff;
        border-radius: 4px;
        border: none;
        font-family: 'LabGrotesque-Light', sans-serif;
        font-size: 17px;
        transition: all .3s;
        cursor: pointer;
        &:hover {
          box-shadow: 0 5px 10px 0 rgba(22, 30, 46, 0.4);
        }
    }

    &__success {
      margin-top: 12px;
      color: green;
      font-size: 17px;

    }

}

.footer {
    margin-top: 60px;
    font-size: 13px;
    letter-spacing: .2px;
    font-family: 'LabGrotesque-Light', sans-serif;
    &__text {
        color: #161e2e;
        margin-bottom: 12px;
    }

    &__policy {
        color: #737882;
        text-decoration: underline;
        cursor: pointer;
    }

    @media(min-width: 320px) and (max-width: 420px) {
      width: 64%;
      margin-bottom: 16px;
    }
}